<div class="container">
	<div class="row">
		<div class="col-md-10">
			<div class="input-group">
				<input type="text" class="form-control" placeholder="Buscar categoria" aria-label="Search for...">
				<span class="input-group-btn">
					<button class="btn btn-info" type="button">Buscar</button>
				</span>
			</div>
		</div> <!-- col-md-10 -->
		<div class="col-md-2">
			<button class="btn btn-success">
				<i class="fa fa-plus" aria-hidden="true"></i>
				Nueva categoria
			</button>
		</div> <!-- col-md-2 -->
	</div> <!--row -->
	<br>
	<table class="table ">
		<thead class="thead-dark">
		<tr>
			<th scope="col">Nombre categoria</th>
		</tr>
		</thead>
		<tbody> <!--ng-repeat="product in productList.products" -->
		<tr>
			<td></td>
		</tr>
		</tbody>
	</table>
</div> <!-- container -->


