<div class="container">
  <!--Productos e inventario-->
  <p>Productos e inventario</p>
  <hr>
  <div class="row">
    <div class="col-md-3">
      <button type="button" class="btn btn-light" ui-sref="inventario.productos">
        <i class="fa fa-search fa-5x" aria-hidden="true"></i>
        <p class="text-center">Buscar Productos</p>
      </button>
    </div>
    <div class="col-md-3">
      <button type="button" class="btn btn-light" ui-sref="inventario.addProducts">
        <i class="fa fa-plus fa-5x" aria-hidden="true"></i>
        <p class="text-center">Nuevo Producto</p>
      </button>
    </div>
    <div class="col-md-3">
      <button type="button" class="btn btn-light" ui-sref="openRegister">
        <i class="fa fa-tags fa-5x" aria-hidden="true"></i>
        <p class="text-center">Nueva categoría</p>
      </button>
    </div>
  </div>

</div>