<div class="container">
  <div class="row">
    <div class="col-md-10">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Buscar producto" aria-label="Search for...">
        <span class="input-group-btn">
            <button class="btn btn-info" type="button">Buscar</button>
          </span>
      </div>
    </div> <!-- col-md-10 -->
    <div class="col-md-2">
      <a ui-sref="inventario.addProducts" class="btn btn-success">
        <i class="fa fa-plus" aria-hidden="true"></i>
        Nuevo producto
      </a>
    </div> <!-- col-md-2 -->
  </div> <!--row -->
  <br>
  <table class="table ">
    <thead class="thead-dark">
    <tr>
      <th scope="col">Producto</th>
      <th scope="col">Cantidad</th>
      <th scope="col">Precio venta</th>
      <th scope="col">Categoría</th>
    </tr>
    </thead>
    <tbody ng-repeat="product in productList.products">
    <tr>
      <td><a ui-sref="inventario.producto({productId: product.id})" ui-sref-opts="{reload:true}">{{product.nombre}}</a></td>
      <td>{{product.cantidad}}</td>
      <td>{{product.precioVenta}}</td>
      <td></td>
    </tr>
    </tbody>
  </table>
</div> <!-- container -->


