<div class="container">
	<!--Productos e inventario-->
	<p>Ventas</p>
	<hr>
	<div class="row">
		<div class="col-md-3">
			<button type="button" class="btn btn-light" ui-sref="inventario.productos">
				<i class="fa fa-plus fa-5x" aria-hidden="true"></i>
				<p class="text-center">Nueva Venta</p>
			</button>
		</div>
		<div class="col-md-3">
			<button type="button" class="btn btn-light">
				<i class="fa fa-power-off fa-5x" aria-hidden="true"></i>
				<p class="text-center">Cerrar caja</p>
			</button>
		</div>
		<div class="col-md-3">
			<button type="button" class="btn btn-light" ui-sref="inventario.categorias">
				<i class="fa fa-money fa-5x" aria-hidden="true"></i>
				<p class="text-center">Agregar dinero a caja</p>
			</button>
		</div>
	</div>
{{registerCtrl.test}}
</div>
